article.tweet {
  font-family: 'Source Sans Pro', sans-serif;
  height: 250px;
  border-style: solid;
  border-width: thick;
  color: #3f3e38;
  margin-top: 40px;
  margin-bottom: 45px;
 }

 article.tweet header {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
 }

 article.tweet .userName {
  display: flex;
  align-items: center;
  margin-right: 15px;
 }

 article.tweet .name {
  display: flex;
  align-items: center;
 }

 article.tweet header img { 
  height: 60px;
  margin: 25px;
}

article.tweet header p {
  margin: 30px;
  font-size: 25px;
  color:#dddada;

}


article.tweet p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  margin-left: 15px;

}

article.tweet footer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 70px;
  border-top-style: solid;
  border-width: thick;
  color:#3f3e39;
  margin-right: 15px;
  margin-left: 15px;
 }

 article.tweet .nameImg {
  display: flex;
 }

 article.tweet footer p {
  color:#5e5b54;
  font-size: 20px;
  margin: 15px;
 }

 article.tweet footer h4 {
  font-size: 15px;
  color:#5e5b53;
  margin: 15px;
 } 

 /* hover stlying */

 article.tweet:hover {
  box-shadow: 10px 10px 0 #C8C8C8;
 }

 article.tweet:hover header h4 {
  color: #252522;
}

article.tweet:hover header p {
  color:#c8c8c8f3;
}

article.tweet:hover p {
  color: #252522;
}

article.tweet:hover footer p {
  color: #292825;
 }

/* icons*/

#flag{
  text-align: right;
  color: #384c8f;
}
#retweet{
  text-align: right;

  color: #384c8f
}
#heart{
  text-align: right;

  color: #384c8f
}

/* hover icons*/

#flag:hover {
  text-align: right;
  color: red;
}
#retweet:hover {
  text-align: right;

  color: red
}
#heart:hover {
  text-align: right;

  color: red;
}
