
.profile {
  width: 100%;
  height: 600px;
  position: static;
  top: 120px;
  background-color: goldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Name */
.profile h2 {
  display: inline-block;
  width: 250px;
  text-align: center;
  margin: 0;
  color: azure;
}

