body > header {
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

body > header img {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}