nav {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 120px;
	background: #384c8f;
	padding: 1.8em 1.8em;
	width: 100%;
	height: 100px;

}

.logo {
	float: left;
	margin-left: 12px;
	font-size: 1.8em;
	font-family: "Bungee", cursive;
	color: white;
}

.nav-text {
	position: fixed;
	top: 1.5em;
	right: 2.5em;
	cursor: pointer;
	color: white;
	float: right;
	text-decoration: none;
}

.arrow {
	text-align: center;
	font-size: 25px;
	line-height: 25px;
	font-weight: 320;
}

.write {
	font-weight: 600;
}

.icon {
	font-size: 1em;
	color: #f04227;
	margin-top: 0.2em;
}

.order {
	font-weight: 600;
}