nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 120px;
	background: #4056a1;
	padding: 1.5em 1.5em;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}

.logo {
	float: left;
	margin-left: 10px;
	font-size: 1.5em;
	font-family: "Bungee", cursive;
	color: #fff;
}

.nav-text {
	position: fixed;
	top: 1.5em;
	right: 2.5em;
	cursor: pointer;
	color: #fff;
	float: right;
	text-decoration: none;
}

.arrow {
	text-align: center;
	cursor: pointer;
	font-size: 22px;
	line-height: 20px;
	font-weight: 300;
}

.write {
	font-weight: 600;
}

.icon {
	font-size: 1em;
	color: #f13c20;
	margin-top: 0.2em;
	animation: float 2s infinite ease;
}